@import "tailwindcss";


:root {
  --primary-color: #fffaf7;
  --secondary-color: #ff6d38;
  --light-color: #f9f9f9;
  --dark-color: #333;
  --footer-text: #8e8d8d;
  --bg-homepage: #f7f5f5;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #e74c3c;
  --btn-accent-bg: #00a652;

  --btn-secondary-hover-bg: #333;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'Amatic SC', cursive;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--dark-color);
  margin-top: 5%;
  text-transform: uppercase;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding: 30px;
  width: 50%;
  color: var(--dark-color);
}

.footer{
  font-family: 'Amatic SC', cursive;
}